#animation-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff88;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  align-content: center;
  color: #fff;
  z-index: 1000;
}

#loading-container {
  width: 150px;
  height: 150px;
  /* background-color: #999; */
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

#loading-container > span {
  height: 15px;
  width: 15px;
  /* border: 1px solid #fff; */
  border-radius: 50%;
  background-color: transparent;
  /* animation: loading 4s linear 5; */
}
#loading-1 {
  animation: loading1 2s linear infinite;
}
#loading-2 {
  animation: loading2 2s linear infinite;
}
#loading-3 {
  animation: loading3 2s linear infinite;
}
#loading-4 {
  animation: loading4 2s linear infinite;
}
@keyframes loading1 {
  15% {
    background-color: #f00;
    padding: 15px;
  }
  /* 100% {
    background-color: #f00;
    padding: 20px;
  } */
}
@keyframes loading2 {
  35% {
    background-color: #0f0;
    padding: 15px;
  }
}
@keyframes loading3 {
  60% {
    background-color: #00f;
    padding: 15px;
  }
}
@keyframes loading4 {
  90% {
    background-color: #ffc107;
    padding: 15px;
  }
}
@keyframes loading {
  0% {
    background-color: #fff;
    height: 15px;
  }
  25% {
    background-color: #f00;
    height: 30px;
  }
  50% {
    background-color: #0f0;
    height: 40px;
  }
  75% {
    background-color: #00f;
  }
  100% {
    background-color: #000;
  }
}
