* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
  letter-spacing: 1.1px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .upcoming {
  margin-left: 10px;
  position: absolute;
  top: 40px;
  left: 60px;
  height: 70px;
  width: 300px;
  background-color: #dddddddd;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  border-radius: 30px;
} */

.main {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  height: fit-content;
}
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
}

.header-logo {
  position: absolute;
  top: 30px;
  left: 60px;
}

.header-logo > img {
  height: 55px;
}
.header-btn-grp {
  position: relative;
  top: 0px;
  right: 0px;
  width: auto;
  /* background-color: #f00; */
  display: flex;
  /* height: 100px; */
}
.header-btn {
  position: absolute;
  top: 30px;
  right: 60px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border: 2px solid #ffc107;
  border-radius: 5px;
  cursor: pointer;
}
.header-btn-1 {
  right: 220px;
}
.header-btn-1 {
  color: #fff !important;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border: 2px solid #ffc107;
  border-radius: 5px;
  cursor: pointer;
}
.header-btn-1:hover {
  opacity: 1 !important;
  background-color: #ffc107;
}
.header-btn:hover {
  background-color: #ffc107;
}

.header-nav {
  position: absolute;
  left: calc(45% - 40px);
  /* right: 60px; */
  top: 40px;
  display: flex;
  justify-content: center;
}

.header-nav li {
  list-style: none;
}
.header-nav li a {
  display: inline-block;
  padding: 10px;
  color: #ffc107;
}
.header-nav li a:hover {
  opacity: 0.75;
}
.header-nav li:first-child > a {
  font-weight: bold;
}
.header-nav li:nth-last-child(2) > a:hover {
  text-decoration: underline;
  opacity: 0.75;
}

.header-main-content-1 {
  position: absolute;
  top: 37%;
  right: 50%;
  width: 50%;
  color: #fff;
  font-size: 2.55rem;
  transform: translate(50%, -50%);
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-shadow: 2px 2px 4px #0011ff;
  animation: fadingEffect1 18s ease-in infinite;
}
.header-main-content-2 {
  position: absolute;
  top: 37%;
  right: 50%;
  opacity: 0;
  width: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 2.55rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-shadow: 2px 2px 4px #0011ff;
  /* right: 50%; */
  animation: fadingEffect2 18s ease-in infinite;
}
/* .header-main-content-1 {
  position: absolute;
  top: 37%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 4px #0011ff;
} */
.main-section-group {
  min-height: 50vh;
  width: 100%;

  position: absolute;
  top: 50%;
  align-content: center;
}
.main-section-cards-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.main-section {
  height: 250px;
  width: 250px;
  background-color: transparent;
  /* color: #fff;
  border: 1px solid #ffc107;
  background-color: #ffc107d8; */
  color: #ffc107;
  border: 1px solid #ffc107;
  background-color: transparent;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

/* .main-section:hover {
  transition: 1s all;
  background-color: #e5e5e5;
  border: 2px solid #ccc;
  box-shadow: 7px 7px 2px #e5e5e5, -7px -7px 2px #e5e5e5;
  cursor: pointer;
} */
.main-section-1 {
  background-color: #ff3a3a;
  color: #fff;
}
.main-section-2 {
  background-color: #008000;
  color: #fff;
}
.main-section-3 {
  background-color: #ffa500;
  color: #fff;
}
.main-section-4 {
  background-color: #3a3aff;
  color: #fff;
}

.main-section-header {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  font-size: 2.7rem;
}
.main-section-header span {
  padding: 5px;
  display: inline-block;
  border-bottom: 2px solid #ffc107;
}
.main-section-desc {
  font-size: 1.6rem;
  padding: 15px 0;
  font-weight: 700;
}
.main-section-footer {
  font-size: 1.25rem;
  font-weight: 1000;
}
.main-section-2-container {
  /* min-height: 90vh; */
  min-height: fit-content;
  background-color: #f3f3f3;
  color: #000;
  width: 100%;
  position: relative;
  /* overflow: scroll; */
  /* height: fit-content; */
}
.main-section-2-header {
  position: absolute;
  top: -100px;
  left: 0;
  color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  animation: ArrowScroll 2s infinite ease-in-out;
}
.arrow-icon {
  font-size: 2rem;
  height: 50%;
}
.main-section-2-content-wrapper {
  position: relative;
}
.main-section-2-back-btn {
  position: absolute;
  top: 40px;
  left: 20px;
  color: #fff;
  font-size: 2rem;
  z-index: 10;
}
.main-section-2-back-btn a:hover {
  color: #ccc;
}
.main-section-2-header-nav {
  height: 100px;
  width: 100%;
  position: relative;
}
.main-section-2-header-nav > .header-container {
  height: inherit;
  background-color: #000;
  color: #000;
  /* position: sticky;
  top: 0; */
}
.main-section-2-container > .header-container {
  color: #000;
}
.main-section-2-cards-header {
  text-align: center;
  padding-top: 30px;
}
.main-section-2-header:hover svg {
  cursor: pointer;
}
.main-section-2-header:active svg {
  color: #ccc;
  animation: ScrollUpEffect 6s ease-in-out;
}
.main-section-2-title {
  text-align: center;
  padding: 25px 0;
  margin: 6px auto;
  color: #333;
  font-size: 1.9rem;
}
.main-section-2-content {
  width: 80%;
  min-height: calc(100vh - 200px);
  margin: auto;
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-bottom: 20px;
  /* display: none; */
}
.main-section-2-content-wrapper {
  display: none;
}
.main-section-2-cards {
  height: 100%;
  width: 85%;
  margin: auto;
  border: 2px solid #cccc;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  align-items: center;
  text-align: center;
  padding: 25px;
  font-weight: 700;
  text-shadow: 2px 1.2px #999;
  font-size: 1.5rem;
  /* margin: 10px; */
}

.main-section-2-cards-1 {
  border: 2px solid #80008088;
  background-color: #800080;
  color: #fff;
  /* box-shadow: 11px 11px 20px #80008088, -11px -11px 20px #80008088; */
  /* box-shadow: 6px 6px 8px #80008088, -6px -6px 8px #80008088; */
}
.main-section-2-cards-2 {
  border: 2px solid #008b4588;
  background-color: #008b45;
  color: #fff;
  /* box-shadow: 6px 6px 8px #008b4588, -6px -6px 8px #008b4588; */
}
.main-section-2-cards-3 {
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
  /* box-shadow: 6px 6px 8px #4682b488, -6px -6px 8px #4682b488; */
}
.main-section-2-cards-4 {
  border: 2px solid #ff450088;
  background-color: #ff4500;
  color: #fff;
  /* box-shadow: 6px 6px 8px #ff450088, -6px -6px 8px #ff450088; */
}
.main-section-2-cards-5 {
  border: 2px solid #44f8;
  background-color: #44f;
  color: #fff;
  /* box-shadow: 6px 6px 8px #44f8, -6px -6px 8px #00f8; */
}
.main-section-2-cards-6 {
  border: 2px solid #ffa50088;
  background-color: #ffa500;
  color: #fff;
  /* box-shadow: 6px 6px 8px #ffa50088, -6px -6px 8px #ffa50088; */
}
.main-section-2-cards:hover {
  cursor: pointer;
  color: #f1f1f1;
  font-size: 1.55em;
}
.main-section-2-cards-1:hover {
  background-color: #fff;
  color: #800080;
  /* animation: CardsHoverEffect 3s ease-out; */
  font-size: 1.2rem;
  transition: all 0.5s ease-out;
  /* box-shadow: 11px 11px 20px #80008088 inset, -11px -11px 20px #80008088 inset; */
}
.main-section-2-cards-2:hover {
  transition: all 0.5s ease-out;
  background-color: #fff;
  color: #008b45;
  font-size: 1.2rem;
  /* box-shadow: 11px 11px 20px #008b4588 inset, -11px -11px 20px #008b4588 inset; */
}
.main-section-2-cards-3:hover {
  transition: all 0.5s ease-in;
  background-color: #fff;
  color: #333;
  font-size: 1.2rem;
  /* box-shadow: 11px 11px 20px #3333 inset, -11px -11px 20px #3333 inset; */
}
.main-section-2-cards-4:hover {
  transition: all 0.5s ease-out;
  background-color: #fff;
  color: #ff4500;
  font-size: 1.2rem;
  /* box-shadow: 11px 11px 20px #ff450088 inset, -11px -11px 20px #ff450088 inset; */
}
.main-section-2-cards-6:hover {
  transition: all 0.5s ease-out;
  background-color: #fff;
  color: #ffa500;
  font-size: 1.2rem;
  /* box-shadow: 11px 11px 20px #ffa50088 inset, -11px -11px 20px #ffa50088 inset; */
}
.main-section-2-cards-5:hover {
  transition: all 0.5s ease-out;
  background-color: #fff;
  color: #44f;
  font-size: 1.2rem;
  /* box-shadow: 11px 11px 20px #44f8 inset, -11px -11px 20px #44f8 inset; */
}
/* admin page */

.admin-container {
  background-color: #fff;
  color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}
.admin-left-container {
  background-color: #f1f1f1;
  width: 300px;
  height: 100vh;
  position: fixed;
  padding: 30px;
  top: 0;
  left: 0;
}
.admin-left-header {
  padding-bottom: 12px;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
}
.admin-left-nav {
  margin-top: 30px;
}
.admin-left-nav-group {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #555;
  margin: 3px auto;
  font-size: 0.85rem;
}
.admin-left-nav-group:hover {
  background-color: #a64ca6;
  color: #fff;
  transition: 1s ease-out background-color, 1s ease-out color;
  cursor: pointer;
}
.admin-left-nav-group:active {
  background-color: #00f;
  color: #fff;
}
.admin-left-nav-icon {
  width: 60px;
  padding-left: 10px;
}
.admin-left-nav-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Admin dashboard */

.admin-right-container {
  /* margin-left: 300px; */
  width: 100%;
  background-color: #e9e9e9;
  padding: 30px;
  min-height: 100vh;
}
.admin-right-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.admin-right-header-title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.admin-right-header-title > button {
  padding: 0 10px;
}
.admin-right-header-right {
  display: flex;
  flex-wrap: wrap;
}
.admin-right-header-right > button {
  padding: 0 4px;
  margin: 0 10px;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}
.admin-right-header-right > input {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}
.admin-header-toggle {
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: inherit;
  cursor: pointer;
}
.admin-header-toggle:hover {
  color: #333;
}
/* .admin-right-header-right .search {
  background-color: #f1f1f1;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
} */
.admin-right-main {
  margin-top: 65px;
  width: 100%;
  min-height: 90vh;
}
.admin-right-dashboard-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}
.dashboard-top-header {
  display: flex;
  background: linear-gradient(#f3f3f3, #fff);
  padding: 20px;
  width: 24%;
  text-align: center;
  border: 2px solid #e5e5e5;
  box-shadow: 1px 3px 10px 3px #ccc;
  flex-wrap: wrap;
}
.dashboard-top-header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 10px; */
  width: 100%;
}
.dashboard-top-header-left {
  font-size: 40px;
  padding: 20px;
  width: 80px;
  margin-top: -35px;
  height: 80px;
  text-align: center;
}
.dashboard-top-header-left-1 {
  background-color: orange;
  color: #fff;
}
.dashboard-top-header-left-2 {
  background-color: #008000;

  color: #fff;
}
.dashboard-top-header-left-3 {
  background-color: #ff3a3a;
  color: #fff;
}
.dashboard-top-header-left-4 {
  background-color: #3a3aff;
  color: #fff;
}
.dashboard-top-title {
  font-size: 1.15rem;
  padding: 5px;
  margin-top: 5px;
}
.dashboard-top-value {
  font-size: 1.25rem;
  padding: 5px;
  text-align: center;
}
.dashboard-chart-grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
  /* margin: 10px; */
  /* margin-bottom: 50px; */
}
.dashboard-chart-grid-title {
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 1.3rem;
  width: 100%;
}
.dashboard-chart-grid-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.dashboard-chart-container {
  width: 47%;
  padding: 20px;
  flex-basis: 1;
  /* margin-right: auto;
  margin-left: auto; */
  /* background: linear-gradient(#f7f7f7, #fff); */
  background-color: #fff;
  box-shadow: 1px 3px 10px 3px #ccc;
  /* border: 1px solid #000; */
}
.dashboard-chart-title {
  /* content: "Number of Api requests"; */
  padding: 10px 5px 20px 5px;
  font-weight: 400;
  font-size: 1rem;

  /* margin-top: -50px; */
}
/* .dashboard-chart {
  width: 35%;
  height: 50%;
} */
.dashboard-chart canvas {
  width: inherit;
  height: inherit;
  z-index: -1;
}
.dashboard-feed {
  width: 100%;
}
.dashboard-feed-nodata {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.dashboard-feed-nodata span {
  padding: 10px;
}
.dashboard-feed > h2 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 15px;
}
.dashboard-feed-icon {
  font-size: 1.9rem;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-weight: bolder;
  padding: 3px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 10px;
}
h2.dashboard-feed-main-title {
  display: flex;
  font-size: 1.15rem;
  align-items: center;
  padding: 20px 10px;
  font-weight: 500;
  color: #fff;
  /* position: relative;
  top: -60px; */
  background-color: #800080;
  z-index: 10;
}
.dashboard-feed-container {
  width: 65%;
  height: 65vh;
  padding: 25px;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 1px 3px 10px 3px #ccc;
}
.dashboard-feed-container table {
  width: 100%;
  /* height: 100%; */
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid #000; */
  border-collapse: collapse;
  text-align: center;
}
.dashboard-feed-container table th {
  border-top: 1px solid #ccc;
  font-weight: 400;
  background-color: #f3f3f3;
}
.dashboard-feed-container table tr {
  /* background-color: #ccc; */
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 4px #ccc;
  margin: 7px;
}

.dashboard-feed-container table tr td,
.dashboard-feed-container table tr th {
  padding: 10px;
}
.dashbaord-feed-wrapper {
  display: flex;
  justify-content: space-around;
}
/* Data Circuit */
.datacircuit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  justify-content: space-around;
  text-align: left;
}
.datacircuit-error-message-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0008;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.datacircuit-error-messages {
  width: 40%;
  max-height: 300px;
  background-color: #ccc;
  padding: 30px;
  color: #f44;
  position: relative;
  padding-top: 50px;
}
.datacircuit-error-messages .close {
  position: absolute;
  top: 30px;
  right: 30px;
}
.datacircuit-error-messages > div {
  width: 80%;
  margin: auto;
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
}
.datacircuit-error-messages > div span {
  padding: 3px 7px;
}
.datacircuit-progress-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0008;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.datacircuit-progress {
  width: 300px;
  height: 150px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datacircuit-progress-bar {
  width: 70%;
  height: 30px;
  background-color: #f1f1f1;
  border-radius: 15px;
}
.datacircuit-progress-bar-value {
  width: 0%;
  background-color: #008000;
  height: 100%;
  border-radius: inherit;
  /* transition: all 2s ease-in; */
}
#user-table {
  width: 80%;
  overflow: scroll;
  height: 65vh;

  text-align: center;
  border-bottom: 1px solid #000;
}
/* .user-data-title {
  content: "Movies Data";
  font-size: 1.2rem;
  padding-bottom: 5px;
  border-bottom: 3px solid orange;
  cursor: pointer;
} */
/* #user-table::before {
  content: "<GrAdd/>";
} */
#user-table > table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* font-family: sans-serif; */
  width: 100%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}
#user-table table thead {
  background-color: white;
  color: orange;
  text-align: center;
}
#user-table table tr td,
#user-table table tr th {
  padding: 15px 10px;
}
#user-table table tr {
  border-bottom: 1px solid #dddddd;
}
#user-table table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
#user-table table tr:last-of-type {
  border-bottom: 2px solid orange;
}
#user-table table tbody tr:hover {
  color: orange;
  cursor: pointer;
}
.datacircuit-container > form {
  width: 280px;
  height: auto;
  max-width: 540px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.datacircuit-formbtn {
  width: 290px;
  padding: 9px;
  margin-top: 15px;
  background: #00f;
  color: #fff;
  border: 2px solid #00f;
  cursor: pointer;
}
.datacircuit-downloadtext {
  margin-top: 10px;
  border-top: 1px solid #000;
  padding-top: 10px;
  text-align: center;
  /* color: #fff; */
  width: 290px;
}
.datacircuit-downloadtext > a {
  color: #3a3aff;
}
/* user profile */
.user-profile {
  width: 85%;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  text-align: left;
  /* border-left: 5px solid rgb(116, 116, 233); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-profile input {
  width: 90%;
  margin: 10px 10px;
  height: 30px;
  background-color: #f1f0f0;
  color: rgb(78, 71, 71);
  outline: none;
  border: 0px;
  border: 1px solid #ddd;
  /* border-bottom: 2px solid green;   */
  font-size: 18px;
  display: block;
  border-radius: 4px;
  padding: 15px;
  /* letter-spacing: 1.2px; */
}
.user-profile input:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
.user-profile form label {
  /* text-align: left */
  padding: 10px;
}
.user-profile-pwd {
  position: relative;
}
.user-profile-pwd > button {
  position: absolute;
  right: 57px;
  top: 7px;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}
.user-profile-pwd > button :hover {
  cursor: pointer;
  color: #333;
}
.userprofile-form-groups {
  margin: 20px;
  /* display: none; */
}
@media (max-width: 1040px) {
  .dashboard-top-header {
    width: 45%;
    margin-bottom: 35px;
  }
}
@media (max-width: 840px) {
  .header-nav {
    transform: none;
    position: absolute;
    display: flex;
    /* left: 60px; */
    /* top: 80px; */
    /* right: 60px; */
    padding-left: 10px;
    /* top: 37px; */
  }
  .header-nav li a {
    padding: 10px;
    box-sizing: border-box;
  }
  .header-btn-grp {
    display: flex;
    width: 100%;
    justify-content: center;
    top: 100px;
  }
  .header-btn {
    position: static;
    margin: 10px;
  }
  .header-main-content-1,
  .header-main-content-2 {
    font-size: 2.2rem;
    text-align: center;
    width: 70%;
    line-height: 1.6;
    top: 50%;
  }
  .main-section-2-content {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .main-section-2-cards {
    width: 100%;
    text-align: center;
  }
  .header-nav li a.header-btn-1 {
    padding: 10px;
  }
  .main-section {
    width: 40%;
    /* top: calc(100% - 300px); */
  }
  .main-section-group {
    top: 80%;
    /* padding-bottom: 50px; */
  }
  .main-section-2-cards {
    /* font-size: 1.3rem */
  }
  .admin-right-container {
    margin-left: 0;
  }
  .admin-right-header-right {
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
  }
  .admin-right-header-right > button {
    margin: 5px;
  }
  .dashboard-chart-container {
    width: 85vw;
    margin: 10px 0;
  }
}

@media (max-width: 720px) {
  .header-logo {
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .header-logo > img {
    display: block;
    height: 45px;
    margin: auto;
  }
  .header-btn-grp {
    top: 140px;
    flex-direction: column;
  }
  .header-btn {
    right: 0;
    left: 0;
    top: 130px;

    justify-content: center;
  }
  .header-btn {
    left: 0;
    right: 0;
    margin: auto;
  }
  .header-nav {
    left: 0;
    right: 0;
    top: 90px;
    justify-content: center;
    transform: none;
    margin: 0px 30px;
    text-align: center;
    flex-wrap: wrap;
  }

  .header-main-content-1,
  .header-main-content-2 {
    top: 55%;
    font-size: 1.7rem;
    width: 80%;
  }
  .main-section-group {
    top: calc(100% - 300px);
  }
  .main-section {
    width: 80%;
  }
  .main-section-2-header-nav {
    height: 200px;
  }
  .main-section-group {
    /* padding-bottom: 30px; */
    top: 75%;
  }
  .main-section-2-content {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .main-section-2-cards {
    width: 90%;
    text-align: center;
  }

  .admin-left-container {
    width: 250px;
  }
  .dashboard-top-header {
    width: 45%;
    margin-bottom: 35px;
  }

  .dashboard-chart-container {
    width: 90vw;
    /* height: 500px; */
  }
  #user-table {
    width: 100%;
    font-size: 0.75rem;
    overflow: scroll;
    box-sizing: border-box;
    padding: 0;
  }
  #user-table table tr td,
  #user-table table tr th {
    padding: 10px 0;
  }
  .user-profile {
    padding: 20px 0;
    margin: 0;
    width: 100%;
  }
  .user-profile input {
    /* padding: 0; */
    /* margin: 0; */
  }
  .dashboard-feed-container {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .dashboard-top-header {
    width: 90%;
    margin-bottom: 35px;
  }

  h2.dashboard-feed-main-title {
    width: 100vw;
  }
}

@keyframes fadingEffect1 {
  0% {
    opacity: 0;
    /* right: 0; */
  }
  5% {
    opacity: 1;
    /* right: 50%; */
  }
  34% {
    /* right: 50%; */
  }
  38% {
    /* right: 100%; */
    /* opacity: 0.5; */
  }
  40% {
    opacity: 0;
    visibility: hidden;
    /* transition: 1s all linear; */
  }
  55% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadingEffect2 {
  0% {
    opacity: 0;
    /* right: 0; */
    visibility: hidden;
  }
  49% {
    opacity: 0;
  }
  50% {
    /* right: 0; */
    opacity: 0;
    /* right: 0; */
    visibility: visible;
  }
  54% {
    opacity: 0.5;
    /* right: 50%; */
    visibility: visible;
  }
  56% {
    opacity: 1;
  }
  55% {
    opacity: 1;
    visibility: visible;
  }
  75% {
    opacity: 1;
  }
  92% {
    /* right: 50%; */
  }
  95% {
    opacity: 0;
    /* right: 100%; */
  }
}

@keyframes ArrowScroll {
  0% {
    top: -100px;
    opacity: 0.7;
  }
  100% {
    top: -110px;
  }
}

@keyframes ScrollUpEffect {
  0% {
    position: fixed;
    top: 100%;
    color: #0f0;
  }
  100% {
    position: fixed;
    top: 0;
    color: #f00;
  }
}

@keyframes ScrollDownEffect {
  0% {
    position: fixed;
    top: 0;
    color: #0f0;
  }
  100% {
    position: fixed;
    top: 100%;
    color: #f00;
  }
}
/* @keyframes CardsHoverEffect {
  100% {
    background-color: #fff;
  }
} */
